$black: #000;
$cod-grey: #0C0C0C;
$dove-grey: #727272;
$mercury: #E8E8E8;
$silver: #C2C2C2;
$white: #FFF;



.ui-list-card {
  border-radius: 10px;
  width: 328px;

  div {
    min-height: 318px;
    border: 1px solid transparent;
  }

  header {
    font-size: 36px;
    height: 105px;
    line-height: 105px;
    text-align: center;
  }

  li {
    //line-height: 20px;
    // padding-left: 1em;
    // padding-top: 10px;
    // text-indent: -1em;
    padding-bottom: 10px;
    word-wrap: break-word;
  }

  li:before {
    content: "-";
    padding-right: 5px;

  }

  section {
    height: 425px;
  }

  ul {
    font-size: 24px;
    line-height: 20px;
    list-style: none;
    margin: 20px;
    padding-left: 0;
  }

  &.day {
    border: 1px solid $black;
    box-shadow: 4px 5px 4px $black;
    color: $cod-grey;

    & .div {
      background-color: $white;
    }

    & header {
      background-color: $mercury;

    }
  }

  &.night {

    background-color: $silver;
    border: 1px solid $white;
    box-shadow: 4px 5px 4px $white;
    color: $white;

    & div {
      background-color: $silver;
      margin: 0px;
      padding: 0px;
    }

    & header {
     background-color: $dove-grey;
    }


  }

}
